.container {
  margin-top: 100px;
}

.title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 16px;
}

.line {
  height: 1px;
  width: 100%;
  background: rgba(16, 24, 40, 0.2);
  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-direction: column;
}
